@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



body {
    background: black
  
}

nav {
  background-color: blue;
  background: solid;
  padding: 20px;
  text-align: left;
  width: 100%;
  
  position: sticky;
  top: 0;
}

nav a {
  color: rgb(142, 143, 149);
  text-decoration: none;
  margin: 0px 20px;
  font-size: 1.3em;
}

nav a:hover {
  text-decoration: underline;
}



h1,
p {
  color: #f5f5f5;
  font-size: 60px;
  text-align: center;
}

p {
  color:white;
 
  font-family: monospace;
  font-size: 15px;
}
h2{
  text-align: center;
  color: blue;
  font-size: xx-large;
}
.sizeh2{
  text-align: center;
  color: white;
  font-size: xx-large;
}
h3{
  text-align: center;
  color: white;
  font-size: x-large;
}
developer:hover {
  font-weight: bold;
    font-size: 40px;
  text-decoration: underline;
  color: rgba(17, 0, 255, 0.788);
}

.social-media {
  padding: 10px 10px;
 
  list-style: none;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}


.certificatey{
  
  align-items: center;
}



.socail-icon-image {
  width: 40px;
}

.about-me {
  
  display: inline-flex;

}
.tech {
  
  padding: 50px;

}


.profile-pic {
  width: 240px;
  
}







.wrapper{
  display:inline-flex;
}
.wrapper .static-txt{
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #FC6D6D;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background:black;

  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
.colour{
  background-color: black;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}
$strings: (
	"CSS typed this string!"
	"It typed this one too 😱"
	"Enjoy ☕"
);

// now for some timing (in seconds)
$durCharFwd: 0.10; // character typed
$durFullGap: 2.00; // time between typed/delete
$durCharBwd: 0.08; // character deleted
$durDoneGap: 1.00; // time between strings

// initializing some variables and functions ✊🏼
$charCount: 0; $durTotal: 0;
@each $string in $strings {
	$charCount: $charCount + str-length($string);
	$durTotal: $durTotal
		+ (str-length($string) * ($durCharFwd + $durCharBwd))
		+ $durFullGap + $durDoneGap;
}
@function percent($string, $letter, $modifier) {
	$stringsPast: $string - 1; $time: 0;
	@while $stringsPast > 0 {
		$time: $time
			+ (($durCharFwd + $durCharBwd) * (str-length(nth($strings, $stringsPast))))
			+ $durFullGap + $durDoneGap;
		$stringsPast: $stringsPast - 1;
	}
	@if $letter <= str-length(nth($strings, $string)) {
		$time: $time
			+ ($durCharFwd * ($letter - 1));
	} @else {
		$time: $time
			+ ($durCharFwd * str-length(nth($strings, $string)))
			+ $durFullGap
			+ ($durCharBwd * ($letter - str-length(nth($strings, $string))));
	}
	@return ($time / $durTotal * 100 + $modifier) + "%";
}
$currentPercentage: 0;
// now THIS is where the magic happens... ✨
@keyframes typed {
	@for $i from 1 through length($strings) {
		// @for $j from 1 through (str-length(nth($strings, $i)) * 2 - 1) {
		@for $j from 1 through (str-length(nth($strings, $i)) * 2) {
			/* string #{$i}, char #{$j} */
			@if $j < str-length(nth($strings, $i)) * 2 { // not last character deleted
				#{percent($i, $j, 0)}, #{percent($i, $j+1, -0.001)} {
					@if $j <= str-length(nth($strings, $i)) {
						content: quote(#{str_slice(nth($strings, $i), 1, $j)});
					} @else {
						content: quote(#{str_slice(nth($strings, $i), 1, str-length(nth($strings, $i)) - ($j - str-length(nth($strings, $i))))});
					}
				}
			} @else {
				@if $i < length($strings) { // not last string
					#{percent($i, $j, 0)}, #{percent($i+1, 1, -0.001)} {
						content: "​"; // zero-width space to retain element height
					}
				} @else { // last string
					#{percent($i, $j, 0)}, 100% {
						content: "​"; // zero-width space to retain element height
					}
				}
			}
		}
	}
}
@keyframes beam-blink {
	75% { border-color: transparent; }
}
* { backface-visibility: hidden; }
html, body { height: 100%; }
body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
	background-image: // skeuomorphism anyone?
		radial-gradient(rgba(#fff, 0.125), rgba(#fff, 0)),
		linear-gradient(to bottom, #000, #000 2px, #111 3px);
	background-repeat: repeat-y;
	background-position: center center;
	background-size: cover, 100% 3px;
	font-size: calc(10px + 2vw);
	font-family: 'VT323', monospace, sans-serif;
	color: #3f3; // hacker green
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&::after {
		content: "​"; // zero-width space to retain element height
		position: relative;
		top: -13px;
		@media (max-width: 575px) { top: -33px; }
		display: inline-block;
		padding-right: 3px;
		padding-right: calc(3px + 0.1vw);
		border-right: 10px solid rgba(#3f3, 0.75);
		border-right: calc(1.1vw + 4px) solid rgba(#3f3, 0.75);
		text-shadow: 0 0 5px rgba(51, 255, 51, 0.75);
		white-space: nowrap;
		animation: typed #{$durTotal + "s"} linear 1s infinite, beam-blink 1s infinite;
	}
	&::before { // just generating some useful stats here 👋🏼
		content: "#{length($strings)} strings / #{$charCount} chars / #{$durTotal}s duration";
		@media (max-width: 575px) {
			content: "#{length($strings)} strings \A #{$charCount} chars \A #{$durTotal}s duration";
		}
		display: block;
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 3px 0;
		background: #00f; // aquaman blue
		color: #fff; // Brandon-McConnell white
		text-align: center;
		font-size: 18px;
		letter-spacing: 0.7px;
		white-space: pre-wrap;
	}
}